.icon-avatar1,
.icon-avatar2,
.icon-avatar3,
.icon-avatar4,
.icon-avatar5,
.icon-avatar6,
.icon-avatar7 {
	background-image: url('../img/sprite/thumbs.png');
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

.icon-avatar1 {
	background-position: 0px 0px;
	
}

.icon-avatar2 {
	background-position: -50px 0px;
	width: 25px;
	height: 25px;
}

.icon-avatar3 {
	background-position: 0px -50px;
	width: 150px;
	height: 150px;
}

.icon-avatar5 {
	background-position: -50px -50px;
	width: 150px;
	height: 150px;
}

.icon-avatar6 {
	background-position: -100px 0px;
	width: 150px;
	height: 150px;
}

.icon-avatar7 {
	background-position: -100px -50px;
	width: 150px;
	height: 150px;
}

/*.avatar {
	border-radius: 50%;
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 16px;
    margin-right: 16px;
    margin-right: 1rem;

}
	
	
*/